.container{
 background-image: radial-gradient( #0b0c1e, #3c2940);
  height: 698px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.image{
  margin-top: 150px;
  height: 170px;
  width: 170px;
}
.text{
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  font-family: "Roboto";
  margin-top: 20px;
}
.button{
  background-color: #06b6d4;
  color: #ffffff;
  border-radius: 10px;
  height: 30px;
  width: 80px;
  margin-top: 90px;
  border-width: 0px;
}